/* ThreeDText.css */
.threeDText-header {
    font: 'Play', sans-serif;
    font-size: 1.5em;
    color: blue;
}

.threeDText-title {
    font: 'Play', sans-serif;
    font-size: 1.2em;
    color: green;
}

.threeDText-normal {
    font: 'Play', sans-serif;
    font-size: 1em;
    color: red;
}